imitation_nav_node:
  ros__parameters:
    interval_ms: 100
    localization_interval_ms: 500
    model_name: finetuned_model.pt

    visualize_flag: false
    window_lower: -2
    window_upper: 5
    use_observation_based_init: true

    # ポテンシャル場パラメータ
    safe_distance: 0.5
    repulsive_gain: 0.3
    max_adjustment: 0.5

    # PurePursuitパラメータ
    lookahead_distance: 1.0
    target_linear_velocity: 0.8
    max_angular_velocity: 1.57
    goal_tolerance: 0.3